.canvas-container {
  white-space: nowrap;
  /* display: flex; */
  margin: 10px; /* Add some space between the canvases */
  background: lightseagreen;
}
#tetrisCanvas {
  border: 1px solid #000;
  display: inline-block;
  margin: 0 auto;
  background: lightgray;
  /* flex: 0 0 auto; */
  /* width: 120px; */
  /* height: 240px; */
}
#nextPuyoCanvas {
  display: inline-block;
  background: lightcyan;
  /* flex: 0 0 auto; */
}
