:root {
  --custom-font: 'Arial';
}

@font-face {
  font-family: "custom";
  src: url(/src/fonts/BestTen-CRT.woff2) format("woff2");
}

html {
  font-family: "custom", sans-serif;
  /*font-size: 24px;*/
}

.canvas-container {
  display: flex;
  justify-content: center;
  position: relative;
  /* TODO: actually I want to align center vertically not like this*/
  top: 50px;
  /* align-items: center; */
  /* margin: 10px;  */
  z-index: 1;
}

.main-container {
  display: inline-grid;
  margin-right: 10px;
}

.side-container {
  /* display: inline-grid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nextPuyoCanvas {
  clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0% 100%);
}


.game-info {
  background-color: rgba(203, 201, 201, 0.7);
  text-align: center;
}

.main-container .game-info {
  margin-top: 3px;
  font-size: larger;
}

.side-container .game-info {
  margin-top: 5px;
  /* margin-bottom: 3px; */
  font-size: 20px;
  width: 90px;
}

.canvas-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  /* background-color: rgba(255, 255, 255, 0.8);  */
  /* padding: 10px 20px;  */
  font-size: 40px;
  color: rgb(114, 31, 31);
  text-shadow:
    -1px -1px 0 rgb(220, 217, 165),
    1px -1px 0 rgb(220, 217, 165),
    -1px 1px 0 rgb(220, 217, 165),
    1px 1px 0 rgb(220, 217, 165);
  /* stroke: rgb(199, 208, 81);
  stroke-width: 5px; */
}

.menu-container {
  background-color: rgba(20, 93, 78, 0.5);
  width: 250px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  z-index: 2;
}

.menu-container button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 24px;
  /* font-family: var(--custom-font), sans-serif; */
  background-color: #08284b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu-container button.selected {
  background-color: #37b493;
}

.menu-container button:hover {
  background-color: #37b493;
}

.score-container {
  /* background-color: #2f1d04; */
  color: azure;
  overflow-y: auto;
  /* height: 50px; */

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;  */
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}

.circleColorPicker {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  border: none;
  padding: 0;
  appearance: none;
  margin: 5px;
  clip-path: circle(35% at 50% 50%);
}