.canvas-container {
  /* white-space: nowrap; */
  display: flex;
  justify-content: center;
  position: relative;
  /* TODO: actually I want to align center vertically not like this*/
  top: 50px; 
  /* align-items: center; */
  /* margin: 10px;  */
  z-index: 1;
}
.main-container {
  display: inline-grid;
}
#mainCanvas {
  border: 1px solid #000;
  /* display: inline-grid; */
  /* margin: 0 auto; */
  background: lightgray;
  /* z-index: 1; */
  margin-right: 10px;
  /* position: absolute; */
  /* flex: 0 0 auto; */
  /* width: 120px; */
  /* height: 280px; */
}
#nextPuyoCanvas {
  /* display: inline-block; */
  background: lightcyan;
  /* z-index: 1; */
  /* margin-left: 5px; */
  /* position: absolute; */
  /* flex: 0 0 auto; */
}

.game-info { 
  margin-top: 3px;
  margin-bottom: 3px;
}
/* #targetChainCount {
  position: absolute;
  top: 100%;
} */

.canvas-background {
  position: relative;
  z-index: -1;
}

.canvas-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('background-image.jpg') center/cover no-repeat; */
  /* Other background properties can be added as needed */
  z-index: -1;
}


.overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2; */
}

.menu-container {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* z-index: 2; */
}

.menu-container button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu-container button.selected {
  background-color: #ff7f50;
}

.menu-container button:hover {
  background-color: #ff7f50;
}

.scrollable-container {
  overflow: auto;
  height: 50px; /* Adjust the height as needed */
}
